certifi==2020.12.5
chardet==3.0.4
gitdb==4.0.7
GitPython==3.1.2
idna==2.10
mysql-connector-python==8.0.23
protobuf==3.17.1
python-dotenv==0.14.0
requests==2.24.0
six==1.16.0
smmap==4.0.0
urllib3==1.25.11
