[Unit]
Description=Systemd service that schedules test-paths based on a test-schedule.

[Service]
Type=simple
User=webappuser
WorkingDirectory=/home/webappuser/evan/repos/testScheduler
Environment="DISPLAY=:1"
ExecStart=/home/webappuser/evan/repos/testScheduler/.venv/bin/python /usr/local/bin/testScheduler
Restart=always

[Install]
WantedBy=multi-user.target
